.header_menu {
  padding: 20px;
  width: 100%;
  height: 100px;
  background: #202327;
  position: relative;
}

.languages {
  display: flex;
  align-items: center;
}

.region {
  margin: 5px;
  width: 28px;
  height: 16px;
}

img {
  max-width: 100%;
}

.region input {
  display: none;
}

.region img {
  width: 28px;
  height: 16px;
}

.region .active_language {
  display: none;
  width: 5px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 100px;
  margin: 5px auto;
}

.region input:checked + .active_language {
  display: block;
}


.logotype{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  &__tittle{
    display: block;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 10px;
  }
}

.telephone{

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 20px;


  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}